<a href="https://colab.research.google.com/github/yywest/A-guide-to-Machine-Learning-in-R/blob/ML-Python/Date_satsunDev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from datetime import date
today = date.today()                                                    # date have attribute today() but not have attribute now()
print(today)

In [0]:
from datetime import datetime,timedelta       

flashback =  timedelta(days=100)                                    #timedelta use for difference between datetime value ; ARGUMENT must b days,seconds...
print('flashback = ',flashback)                                          # flashback = 100 days,0:00:00
dt = datetime.now()                                                       # dt set format as datetime and value = now
print('Now = ', dt)
backDay = dt - flashback                                                # flashback must pass fx. timedelta  flashback can not b integer
print('BackDay = ',backDay)

flashback =  100 days, 0:00:00
Now =  2020-02-29 08:56:43.241681
BackDay =  2019-11-21 08:56:43.241681

In [0]:
from datetime import  datetime,timedelta
dt = datetime.now()
dt += timedelta(days = 6  -  dt.weekday())                                                           # weekday 0=Mon, 1=Tue, 2=Wed, 3=Thu,  4=Fri, 5=Sat,  6=Sun
print('dt = ' ,dt , ' dt.year = ',dt.year,' dt.month = ',dt.month,' dt.day = ', dt.day)     # dt =  2020-03-01 08:56:43.241681  dt.year =  2020  dt.month =  3  dt.day =  1

dt =  2020-03-01 10:01:57.211387  dt.year =  2020  dt.month =  3  dt.day =  1

In [0]:
from datetime import  date,timedelta
dt   =   date(2020, 1,1)
weekday = dt.weekday()
print ('dt.weekday = ' , weekday)
dt  += timedelta(days = 6 - dt.weekday())
print(dt)
days = (6 - weekday)
print('days = ',days)
print('timedelta = ', timedelta( 6 - dt.weekday()))
print(timedelta(days=2))

In [0]:
def prime() :
     return[2,3,5,7,11,13]
prime()

In [0]:
def prime():
  yield 2
  yield 3
  yield 5
  yield 7
  yield 11
  yield 13
for prime in prime():
     print(prime)

In [0]:
from itertools import *
def prime():
  yield 2
  yield 3
  yield 5
  yield 7
  yield 11
  yield 13

for prime in islice(prime(),3):
     print(prime)

In [0]:
from datetime import date,datetime
y =  [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
for i in y :
     dd = date(i,1,1)
     wk = dd.weekday()
     if wk == 6  :
        print ('weekday = ', dd,dd.weekday())
     else :  
       print (dd,dd.weekday())

2010-01-01 4
2011-01-01 5
weekday =  2012-01-01 6
2013-01-01 1
2014-01-01 2
2015-01-01 3
2016-01-01 4
weekday =  2017-01-01 6
2018-01-01 0
2019-01-01 1

In [29]:
from datetime import date,datetime,timedelta
num_year    =  [2015,2016,2017,2018,2019]
#num_year  =  [2019]
num_month =  [1,2,3,4,5,6,7,8,9,10,11,12]
f = open('satsun.txt','w')
f.write('Year' + ','  + 'Month' + ',' + 'Sat' +  ',' + 'Sun' +  '\n')
f.close()
#-----------------------------------------------------------------------
def satsun(yy) : 
     satday     =  date(yy,1,1)                                                       # dday format as date   value = 1/1/yyyy  1st of jan.
     if satday.weekday() == 6 :
        satday     =  date(yy,1,7) 
     else:
        satday   +=  timedelta(days = 5 - satday.weekday())            #  get 1st saturday   
     sunday    =  date(yy,1,1)                                                      # dday format as date   value = 1/1/yyyy  1st of jan.
     sunday  +=  timedelta(days = 6 - sunday.weekday())              #  get 1st sunday   
     countSun  = 0
     sumYrsun = 0    
     countSat   = 0
     sumYrsat  = 0
     prtMn  = 0
 
     while satday.year == yy and sunday.year == yy :
              for m in num_month :
                   
#                   print ('---------------')
                   if prtMn > 0 :
                      print ('----------  satyear = ',yy, ' month = ', prtMn, ' countSat = ' , countSat , ' countSun = ', countSun)
#                      prtTxt = yy + ',' +  m
                      f = open('satsun.txt','a')                
                      f.write( str(yy) + ',' + str(prtMn) + ',' + str(countSat) + ',' + str(countSun) +  '\n')
                      f.close()
                   countSat  = 0 
                   countSun = 0   
                   while satday.month == m and sunday.month == m :
#                           print('sat = ',satday , ' sunday = ',sunday)     
                            countSat      += 1
                            sumYrsat     += 1
                            satday         +=  timedelta(days = 7 )
                            countSun     += 1
                            sumYrsun    += 1
                            sunday        +=  timedelta(days = 7) 
#                            print( ' Year =  ', y, ' month = ' ,m ,' countSat = ' , countSat ,' countSun = ' , countSun ,' sumYrSat = ', sumYrsat,  ' sumYrSun = ', sumYrsun)    

                   while  satday.month == m and sunday.month != m :     
#                           print('sat = ',satday , ' sunday = ',sunday) 
                            countSat      += 1
                            sumYrsat     += 1
                            satday         +=  timedelta(days = 7 )
#                            print( ' Year =  ', y, ' month = ' ,m ,' countSat = ' , countSat ,' sumYrSat = ', sumYrsat)    
                   while satday.month != m and sunday.month == m :
#                           print('sat = ',satday , ' sunday = ',sunday) 
                            countSun      += 1
                            sumYrsun     += 1
                            sunday         +=  timedelta(days = 7 )
#                            print(sunday,' Year =  ', y, ' month = ' ,m ,' countSun = ' , countSun ,' sumYrSun = ', sumYrsun)     
                   prtMn += 1    
                   if prtMn == 12 :
                      print ('----------  satyear = ',yy, ' month = ', prtMn, ' countSat = ' , countSat , ' countSun = ', countSun) 
                      f = open('satsun.txt','a')                
                      f.write( str(yy) + ',' + str(prtMn) + ',' + str(countSat) + ',' + str(countSun) +  '\n')
                      f.close()        
     return  

for y in num_year :
     satsun(y)

----------  satyear =  2015  month =  1  countSat =  5  countSun =  4
----------  satyear =  2015  month =  2  countSat =  4  countSun =  4
----------  satyear =  2015  month =  3  countSat =  4  countSun =  5
----------  satyear =  2015  month =  4  countSat =  4  countSun =  4
----------  satyear =  2015  month =  5  countSat =  5  countSun =  5
----------  satyear =  2015  month =  6  countSat =  4  countSun =  4
----------  satyear =  2015  month =  7  countSat =  4  countSun =  4
----------  satyear =  2015  month =  8  countSat =  5  countSun =  5
----------  satyear =  2015  month =  9  countSat =  4  countSun =  4
----------  satyear =  2015  month =  10  countSat =  5  countSun =  4
----------  satyear =  2015  month =  11  countSat =  4  countSun =  5
----------  satyear =  2015  month =  12  countSat =  4  countSun =  4
----------  satyear =  2016  month =  1  countSat =  5  countSun =  5
----------  satyear =  2016  month =  2  countSat =  4  countSun =  4
----------  satyear =  2016  month =  3  countSat =  4  countSun =  4
----------  satyear =  2016  month =  4  countSat =  5  countSun =  4
----------  satyear =  2016  month =  5  countSat =  4  countSun =  5
----------  satyear =  2016  month =  6  countSat =  4  countSun =  4
----------  satyear =  2016  month =  7  countSat =  5  countSun =  5
----------  satyear =  2016  month =  8  countSat =  4  countSun =  4
----------  satyear =  2016  month =  9  countSat =  4  countSun =  4
----------  satyear =  2016  month =  10  countSat =  5  countSun =  5
----------  satyear =  2016  month =  11  countSat =  4  countSun =  4
----------  satyear =  2016  month =  12  countSat =  5  countSun =  4
----------  satyear =  2017  month =  1  countSat =  4  countSun =  5
----------  satyear =  2017  month =  2  countSat =  4  countSun =  4
----------  satyear =  2017  month =  3  countSat =  4  countSun =  4
----------  satyear =  2017  month =  4  countSat =  5  countSun =  5
----------  satyear =  2017  month =  5  countSat =  4  countSun =  4
----------  satyear =  2017  month =  6  countSat =  4  countSun =  4
----------  satyear =  2017  month =  7  countSat =  5  countSun =  5
----------  satyear =  2017  month =  8  countSat =  4  countSun =  4
----------  satyear =  2017  month =  9  countSat =  5  countSun =  4
----------  satyear =  2017  month =  10  countSat =  4  countSun =  5
----------  satyear =  2017  month =  11  countSat =  4  countSun =  4
----------  satyear =  2017  month =  12  countSat =  5  countSun =  5
----------  satyear =  2018  month =  1  countSat =  4  countSun =  4
----------  satyear =  2018  month =  2  countSat =  4  countSun =  4
----------  satyear =  2018  month =  3  countSat =  5  countSun =  4
----------  satyear =  2018  month =  4  countSat =  4  countSun =  5
----------  satyear =  2018  month =  5  countSat =  4  countSun =  4
----------  satyear =  2018  month =  6  countSat =  5  countSun =  4
----------  satyear =  2018  month =  7  countSat =  4  countSun =  5
----------  satyear =  2018  month =  8  countSat =  4  countSun =  4
----------  satyear =  2018  month =  9  countSat =  5  countSun =  5
----------  satyear =  2018  month =  10  countSat =  4  countSun =  4
----------  satyear =  2018  month =  11  countSat =  4  countSun =  4
----------  satyear =  2018  month =  12  countSat =  5  countSun =  5
----------  satyear =  2019  month =  1  countSat =  4  countSun =  4
----------  satyear =  2019  month =  2  countSat =  4  countSun =  4
----------  satyear =  2019  month =  3  countSat =  5  countSun =  5
----------  satyear =  2019  month =  4  countSat =  4  countSun =  4
----------  satyear =  2019  month =  5  countSat =  4  countSun =  4
----------  satyear =  2019  month =  6  countSat =  5  countSun =  5
----------  satyear =  2019  month =  7  countSat =  4  countSun =  4
----------  satyear =  2019  month =  8  countSat =  5  countSun =  4
----------  satyear =  2019  month =  9  countSat =  4  countSun =  5
----------  satyear =  2019  month =  10  countSat =  4  countSun =  4
----------  satyear =  2019  month =  11  countSat =  5  countSun =  4
----------  satyear =  2019  month =  12  countSat =  4  countSun =  5

In [0]:
from datetime import date,datetime,timedelta

def all_sunday(year) :
     dt   =   date(year, 1,1)
     dt  += timedelta(days = 6 - dt.weekday())         # weekday 0=Mon, 1=Tue, 2=Wed, 3=Thu,  4=Fri, 5=Sat,  6=Sun
     while dt.year == year :
             yield dt 
             dt  += timedelta(days = 7 )
             
for s  in all_sunday(2019) :
    print(s)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29